h3{
    font-family: cursive;
}
p{
    font-family: cursive;
    font-size: 30px;
    margin-left: 500px;
}
ol{
    color: white;
    font-family: cursive;
    margin-left: 700px;
    font-size: 40px;

}
.certi>a{
    margin-left: 800px;
}