p{
   color:white;
   font-family: cursive;
   text-align: center;
   top:350px;
}
h2{
    color:white;
    font-family: cursive;
    text-align: center;
    top:300px;
 }

body{
    background-color: black;
}
h3{
    color: white;
    font-family: cursive;
    text-align:center;
    font-size: 50px;
}
.project>img{
    width: 350px;
    height: 350px ;
    opacity: 1;
    float:left;
    margin-left: 200px;
  }
a{
    text-decoration: none;
    color:white;
  }

a:hover{
    color: aquamarine;
}

